* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-image: url("image/gif/BACKG.jpg");
    background-attachment: fixed;
    overflow-x: hidden;
    background-size: cover;
  }

  .loadergif {
    
    position: absolute;
    z-index: 9999999;
    background: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    timing
  }
  
  .header {
    position: relative;
    height: 100vh;
  }

  .body {
    width: 85%;
    height: 85%;
    overflow: hidden;
    border-radius: 40px;
    background-color: black;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    box-shadow: 1px 1px 4px rgb(250 250 252), 2px 3px 1px rgb(0 0 0),
      3px 4px 1px rgb(250 252 250);
  }
  /*------------nav------------*/
  .menu {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background-color: black;
  }
  .menu ul {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    margin-right: 2%;
    list-style: none;
  }
  .menu ul li a {
    padding: 0 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  .menu ul li a:hover {
    color: var(--mainColor);
    text-decoration: none;
  }
  
  .menu ul li a:hover {
    text-shadow: 0px 0px 0 rgb(88, 88, 88), 1px 1px 0 rgb(250, 249, 249),
      2px 2px 0 rgb(255, 255, 255), 3px 3px 0 rgb(252, 249, 249), 4px 4px 0 rgb(231, 229, 227),
      5px 5px 0 rgb(82, 81, 81), 6px 6px 0 rgb(245, 245, 244);
  }
  
  .mainlogo {
    width: 12%;
    height: 70%;
    margin: 20px 20px;
  }
  #check {
    display: none;
  }
  .click-menu img {
    height: 3em;
    display: none;
  }
  .click-menu img:hover {
    transform: rotateZ(-30deg)
  }
  
  .signin-button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    width: 5vw;
    height: 5vh;
    box-shadow: 1px 1px 1px rgb(250 250 252), 1px 1px 1px rgb(0 0 0),
      1px 1px 1px rgb(250 252 250);
  }
  
  .signup-button {
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    width: 5vw;
    height: 5vh;
    box-shadow: 1px 1px 1px rgb(0 0 0), 1px 1px 1px rgb(255 255 255),
      1px 8px 10px rgb(0 0 0);
  }
  /*------------slide------------*/

h1{
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

.type img{
    height: 230px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 40px;
}

p{
    color: #ffffff;
    display: flex;
}
    
.type{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: -20px;
    height: 350px;
}

.slide{
    display: inline-block;
}

.slide:hover{
    transform: scale(1.2);
    transition: 0.7s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
    border: 1px dashed white;
}

.type::-webkit-scrollbar {
    display:none;
}

/*------------inputs------------*/

    /*------feul------*/
    .feul{
        color:#ffffff ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }

    .carburant{
        margin-right: 5%;
    }

    .carburant:last-child{
        margin-right: 0;
    }
    

    /*------gear box------*/
    
    .gear-box{
        color:#ffffff ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }
    
    .gear{
        margin-right: 5%;
    }

    .gear:last-child{
        margin-right: 0;
    }

    /*------duration------*/
    
    .duration{
        color:#ffffff ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }
    .submit-1 {
      margin-top: 5%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
  }
  
  .submit {
      background-color: #ffffff;
      color: #1E1E1E;
      padding: 12px 21px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
  }







/*------------footer------------*/
  footer {
    position: absolute;
    bottom: 5em;
  }
  .footer {
    width: 100vw;
    height: 10%;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    position: relative;
  bottom: -50rem;
  }
  
  .twitteryoutube {
    display: flex;
    width: 40px;
    height: 40px;
  }
  .copyright {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    color: white;
    font-size: 10px;
    justify-content: center;
  }
  .facebookinsta {
    display: flex;
    width: 40px;
    height: 40px;
  }
  
  .lineicons {
    align-items: center;
    display: flex;
    width: 15vw;
    justify-content: space-evenly;
  }
  
  h3 {
    font-weight: 400;
  }


  
  @media screen and (max-width: 800px){
    /*------------nav------------*/

.header{
    background-color: #1E1E1E;
}

.logo{
    height:100px ;
    width: 140px;
}

.active {
    color: #C2A859;
}

a{
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

ul{
    display: flex;
    list-style: none;
    float: right;
    margin-top: 35px;
}

li{
    padding-right: 30px;
    font-size:x-large;
    margin-right: 20px;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/*------------slide------------*/

h1{
    text-align: center;
    color: #fcfbf9;
    margin-top: 50px;
}

.type img{
    height: 230px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 40px;
}

p{
    color: #faf9f8;
    font-family: 'Roboto',sans-serif;
    display: flex;
}
    
.type{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: -20px;
    height: 350px;
}

.slide{
    display: inline-block;
}

.slide:hover{
    transform: scale(1.2);
    transition: 0.7s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
    border: 1px dashed white;
}

.type::-webkit-scrollbar {
    display:none;
}

/*------------inputs------------*/

    /*------feul------*/
    .feul{
        color:#ffffff ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }

    .carburant{
        position: relative;
        left: 0.5em;
    } 

    /*------gear box------*/
    
    .gear-box{
        color:#fffffe ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }
    
    

    /*------duration------*/
    
    .duration{
        color:#ffffff ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
/* ------------footer------------ */
footer {
    display: none;
}

}

@media screen and (max-width: 600px) {
  #check:checked ~ ul {
    left: 2.5% !important;
    width: 95vw !important;
    height: 102vh !important;
    padding-top: 60%;
  }
  .menu {
    padding: 40px;
  }
  ul {
    position: absolute;
    z-index: 9999;
    flex-direction: column;
    top: 100px;
    left: -100%;
    text-align: center;
    background: #000;
    border-radius: 50px;
  }
  ul li {
    padding: 0;
  }
  .signin-button, .signup-button{
    width: 18vw;
  }

  #check:checked ~ ul {
    left: 0;
    width: 90vw;
    height: 74vh;
    padding: 20px 0px;
  }
  .click-menu img {
    display: block;
    width: 11vw;
    height: 7vh;
    box-shadow: 0px 0px 1px rgb(250 250 252), 0px 0px 1px rgb(0 0 0),
      0px 0px 4px rgb(250 252 250);
    border-radius: 50%;
  }
  .mainlogo {
    height: 10%;
    margin: 0px;
    position: absolute;
  }
  .vehicles{
    width: 100vw;
  }
  .cars, .motorcycle, .trucks, .construction-machine{
    padding-left: 18px;
  }
  .footer {
    width: 100vw;
    right: -5%;
    bottom: -94rem;
  }
  h1 {
    font-size: 20px;
  }
  .type img{
    height: 150px;
}
  
  

}
  